.landing{
  height: 100vh;
  text-align: center;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;

}

.andy{
  font-size: 70px;
  font-weight: 900;
  -webkit-text-stroke-color: rgb(193, 52, 1);
  -webkit-text-stroke-width: 3px;
}