.contact-container{
  display: flex;
  height: 30rem
}

.contact-div{
  text-align: center;
  height: 100vh;
}

.contact-info{
  width: 50%;
}

.map{
  width: 50vw;
  height: 90vh;
}
.google-map{
  width: 99%;
  height: 100%;
}